h1 {
  color: #3F51B5;
}

h4 {
  margin-top: -15px;
  margin-bottom: 20px;
}

table {
  margin-bottom: 60px;
}

.admin-dash-header {
  display: flex;
  align-items: flex-start;
}

.mat-raised-button {
  margin-top: 22px;
  margin-left: 20px;
}

.mat-header-cell {
  padding: 5px;
}

.mat-cell {
  width: 15%;
  height: 15vh;
  padding: 5px;
}

.cell-xs {
  width: 2%;
}

.cell-s {
  width: 5%;
}

.edit-icon {
  color: #3F51B5;
}

.delete-icon {
  color: #FE413D;
}

.loader-container {
  display: flex;
  justify-content: center;
  margin-top: 16%;
}