h1 {
  color: #3F51B5;
}

h4 {
  padding-top: -20px;
  padding-bottom: 10px;
}

.mat-header-cell {
  padding: 5px;
}

.mat-cell {
  width: 15%;
  height: 15vh;
  padding: 5px;
}

.cell-xs {
  width: 2%;
}

.cell-s {
  width: 5%;
}

.edit-icon {
  color: #3F51B5;
}

.delete-icon {
  color: #FE413D;
}